# Engage

## Server

.env
/web/.htaccess

## PHP

/vendor
composer.lock

## NodeJS

node_modules/
npm-debug.log

## WordPress

web/wp-config.php
web/system
web/content/uploads

### Themes

.sass-cache
web/content/themes/tm_engage/style.css
web/content/themes/tm_engage/style.css.map
web/content/themes/tm_engage/editor-style.css
web/content/themes/tm_engage/editor-style.css.map

### Plugins

web/content/plugins
web/content/mu-plugins/*
web/content/db.php

#### White-list Plugins
!web/content/mu-plugins/engage_admin.php
