/* ==========================================================================
CTA
========================================================================== */

.ignite-cta { position:relative; background-color: #242830; padding: 70px 0; }
.ignite-btn { display: inline-block; padding: 25px 40px; color: #fff; border: solid 1px #fff; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; }
.ignite-btn:hover, .ignite-btn:focus { color: #d13668; border: solid 1px #d13668; }
