/* ==========================================================================
Intro
========================================================================== */
.intro { background: #d13668; }
.intro p { margin: 0 0 10px; color: #fff; font-size:1.3em; }
.intro h1.arrow{ color:#fff}
.intro small{color:#fff;}
.intro h2 { color:#fff; font-family: 'bebas_neuebold', sans-serif; font-size: 2.8em;}
h1.arrow { text-transform: uppercase; letter-spacing: 1px; background: url('../img/h1-bg.png') no-repeat center bottom; padding-bottom: 30px; }
h1.arrow-pink { text-transform: uppercase; letter-spacing: 1px; background: url('../img/h1-bg-pink.png') no-repeat center bottom; padding-bottom: 30px; }
