/* ==========================================================================
Portfolio
========================================================================== */
/*.effects { padding-left: 15px; }*/
.effects .img { position: relative; margin-bottom: 50px; position: relative; z-index: 1; overflow: hidden; }
/*.effects .img:nth-child(n) { margin-right: 5px; }
.effects .img:first-child { margin-left: -15px; }
.effects .img:last-child { margin-right: 0; }*/
.effects .img img { display: block; margin: 0; padding: 0; height: auto; }
.overlay { display: block; position: absolute; z-index: 20; background: rgba(209, 54, 104, 0.8); overflow: hidden; transition: all 0.5s; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; }
.close-overlay { display: block; position: absolute; top: 0; right: 0; z-index: 100; width: 45px; height: 45px; font-size: 20px; font-weight: 700; color: #fff; line-height: 45px; text-align: center; background-color: #000; cursor: pointer; }
.close-overlay.hidden { display: none; }
.expand { display: block; position: absolute; z-index: 100; text-align: center; color: #fff; font-weight: 600; font-size: 14px; text-transform: uppercase; line-height: 30px; }
.overlay-effect .img i { font-size: 30px; }
.overlay-effect .overlay { bottom: 0; left: 0; right: 0; width: 100%; height: 100%; opacity: 0; }
.overlay-effect .overlay .expand { left: 0; right: 0; bottom: 47%; margin: 0 auto -30px auto; }
.overlay-effect .img.hover .overlay { height: 100%; opacity: 1; }

.img img {
	width: -webkit-calc(100% + 40px) !important;
	width: calc(100% + 40px) !important;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-moz-transition: opacity 0.35s, -moz-transform 0.35s;
	-o-transition: opacity 0.35s, -o-transform 0.35s;
}

.designs { position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; top: 50px; }
.case{max-height: 0;  overflow:hidden; transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); -webkit-transition: max-height 0.5s; -moz-transition: max-height 0.5s; -o-transition: max-height 0.5s; -ms-transition: max-height 0.5s; transition: all 0.5s;}
.case-active{height:auto; max-height: 2000px; overflow:visible; -webkit-transition: max-height 0.5s; -moz-transition: max-height 0.5s; -o-transition: max-height 0.5s; -ms-transition: max-height 0.5s; transition: all 0.5s; transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0);}
#case_study_expander_wrap ul{list-style-type: none; overflow:hidden;transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0);}
.case-study-inner{margin-bottom:60px; }
.case-study-inner .slides img{ width:100%; }
.case-study-btn, .close-study-btn { margin-top:10px; margin-right:10px; display: inline-block; padding: 15px 30px; color: #d13668; border: solid 1px #d13668; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; }
.case-study-btn:hover, .case-study-btn:focus { color: #242830; border: solid 1px #242830; }
.case-study-inner p { text-align:left; }
.trigger-button{float:left;}
.expander-close .fa-times-circle {color:#d13668; font-size: 2.5em;}
.expander-close .fa-times-circle:hover {color:#242830;}
.case-study-btn{display:none;}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
