.entry-meta{text-align: center;}

.posted-on, .cat-links{background-color: #d13668; padding:10px 20px; color:#fff;}

.cat-links a{ color:#fff;}

.cat-links a:hover{ color:#ccc;}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}