/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
footer a { color: #a1a9b0; }
footer { position: relative; background-color: #242830; padding: 40px 0 30px; }
footer p { color: #fff; }
ul.legals { list-style: none; color: #fff; line-height: 25px; }
ul.legals li { display: inline-block; }
ul.legals li::after { content: " |"; }
ul.legals li:last-child::after { content: ""; }
.legals { text-align: left; }
.credit { text-align: right; }
.footer_logo{ padding: 1em 0;}
